table {
    border-collapse: collapse;
    width: 100%;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {background-color: #D3D3D3}